{% extends 'base.html' %}

{% block title %}Получатель{% endblock %}

{% block content %}
<h1 class="mb-3">Получатель</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        <label class="form-label">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="mb-3">
        <label class="form-label">Ф. И. О.</label>
        {{ form.full_name }}
        {{ form.full_name.errors }}
    </div>
    <div class="mb-3">
        <label class="form-label">Комментарий</label>
        {{ form.comment }}
        {{ form.comment.errors }}
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}


